extends ../../settings/_layout.jade

block variables
    - var htmlClass = "projet";
    - var pageTitle = "Maison Nino"

block content
  article.project-content(itemtype='https://schema.org/CreativeWork')
    header.project-header
      +poster('PHOTOS-01.jpg')
      h1.project-title(itemprop='headline') #{pageTitle}
      .infos
        | maison en longueur / gyé-sur-seine (10) / 2010-2011 / 385 m² shob

    .desc(itemprop='text')
      .col.col-overflow.close
        p
          | Situé le long d'un chemin empreinté par des tracteurs et entouré de hangars agricoles, le terrain n'offrait pas de vues attirantes. D'autre part, les clients souhaitaient un espace de vie préservé des regards extérieurs. 
          br
          | Ainsi s'est imposée la solution de construire une maison qui s'ouvre sur toute la longueur de la parcelle - 54 mètres, le projet se retourne sur l'intérieur du terrain en profitant de la quiétude du jardin.
        p
          | Côté chemin, une longue façade en béton bloque les nuisances et occulte la vue, pour lui accorder une certaine délicatesse, nous avons percé ce mur massif de petits oculus, disposés de façon apparemment aléatoire ils viennent animer le couloir à l'intérieur. 
          br
          | La maison se fond dans la topographie, de façon à éviter la confrontation avec les bâtiments agricoles, d'une échelle beaucoup plus large, nous cherchons ainsi à valoriser simultanément et réciproquement les paysages intérieur et extérieur.
      .col.col-overflow.close
        p
          | Situé le long d'un chemin empreinté par des tracteurs et entouré de hangars agricoles, le terrain n'offrait pas de vues attirantes. D'autre part, les clients souhaitaient un espace de vie préservé des regards extérieurs. 
          br
          | Ainsi s'est imposée la solution de construire une maison qui s'ouvre sur toute la longueur de la parcelle - 54 mètres, le projet se retourne sur l'intérieur du terrain en profitant de la quiétude du jardin.
        p
          | Côté chemin, une longue façade en béton bloque les nuisances et occulte la vue, pour lui accorder une certaine délicatesse, nous avons percé ce mur massif de petits oculus, disposés de façon apparemment aléatoire ils viennent animer le couloir à l'intérieur. 
          br
          | La maison se fond dans la topographie, de façon à éviter la confrontation avec les bâtiments agricoles, d'une échelle beaucoup plus large, nous cherchons ainsi à valoriser simultanément et réciproquement les paysages intérieur et extérieur.
      .col.col-overflow.close
        p
          | Situé le long d'un chemin empreinté par des tracteurs et entouré de hangars agricoles, le terrain n'offrait pas de vues attirantes. D'autre part, les clients souhaitaient un espace de vie préservé des regards extérieurs. 
          br
          | Ainsi s'est imposée la solution de construire une maison qui s'ouvre sur toute la longueur de la parcelle - 54 mètres, le projet se retourne sur l'intérieur du terrain en profitant de la quiétude du jardin.
        p
          | Côté chemin, une longue façade en béton bloque les nuisances et occulte la vue, pour lui accorder une certaine délicatesse, nous avons percé ce mur massif de petits oculus, disposés de façon apparemment aléatoire ils viennent animer le couloir à l'intérieur. 
          br
          | La maison se fond dans la topographie, de façon à éviter la confrontation avec les bâtiments agricoles, d'une échelle beaucoup plus large, nous cherchons ainsi à valoriser simultanément et réciproquement les paysages intérieur et extérieur.

    section.grid
      .col-4
        +poster('PHOTOS-02.jpg')
      .col-2
        +poster('PHOTOS-03.jpg')
      .col-3
        +poster('PHOTOS-04.jpg')
      .col-3
        +poster('PHOTOS-05.jpg')




  
