@mixin make-row($gutter: $grid-gutter-width) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gutter / 2;
  margin-left: -$gutter / 2;
}

@mixin make-col($size, $gutter: $grid-gutter-width) {
  position: relative;
  // Prevent columns from becoming too narrow when at smaller grid tiers by
  // always setting `width: 100%;`. This works because we use `flex` values
  // later on to override this initial width.
  width: 100%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  flex: 0 0 percentage(1 / $size);
  max-width: percentage(1 / $size);
}

@mixin make-overflow($max-height: 5rem) {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: $max-height;
  //white-space: nowrap;

  &::before {
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, var(--body-bg) 1rem, rgba(var(--body-bg-rgb), 0));
  }

  &::after {
    position: absolute;
    bottom: 1.3rem;
    right: 0;
    background: var(--body-bg);
    content: '\2026';
    display: block;
    padding: 0.2rem 0 0 1rem;
    color: $black;
    @include font-size(1.5rem)
  }
}