extends ../../settings/_layout.jade

block variables
    - var htmlClass = "projet";
    //- var slug = "piscine-sur-pilotis";
    - var pageTitle = "Serre en Ville"

block content
  article.project-content(itemtype="https://schema.org/CreativeWork")
    header.project-header
      +poster('PHOTOS-01.jpg')
      h1.project-title(itemprop="headline") #{pageTitle}
      .infos
        | extension d'une maison / reims (51) / été 2013 / 57 m² shob / 42 000 € ht

    .desc(itemprop="text")
      .col.col-overflow.close
        p
          | On ouvre le portail donnant sur la rue et un petit chemin sinueux nous mène à la maison tout au fond, nous découvrons un petit jardin féerique en pleine ville de Reims. La bâtisse existante est assez imposante, on y avait déjà ajouté une aile droite pour créer des pièces avec de l'eau courante (salles de bains, toilettes et buanderie).
        p
          | Les clients (un couple seul) aiment bichonner les plantes, ils souhaitaient créer une unité de vie au rez-de-chaussée pour profiter d'avantage de leur jardin. Nous voulions échapper à l'extension 'type véranda', un petit volume de 20m2 au sol par 2,5m de hauteur accolé à la grande façade aurait été trop manifeste. L'atelier nous a inspiré la réponse, nous avons décidé de construire en prolongement du garage, le long du mur mitoyen, jusqu'à la maison, de façon à habiter le jardin en toute sa longueur. L'atelier est devenu finalement une serre où l'on peut faire pousser des plantes autres que celles du jardin. Le auvent qui unit la serre et la maison est un séjour extérieur abrité de la pluie. Nous l'avons découpé pour que le lilas existant puisse pousser au-dessus de la toiture.
      .col.col-overflow.close
        p
          | On ouvre le portail donnant sur la rue et un petit chemin sinueux nous mène à la maison tout au fond, nous découvrons un petit jardin féerique en pleine ville de Reims. La bâtisse existante est assez imposante, on y avait déjà ajouté une aile droite pour créer des pièces avec de l'eau courante (salles de bains, toilettes et buanderie).
        p
          | Les clients (un couple seul) aiment bichonner les plantes, ils souhaitaient créer une unité de vie au rez-de-chaussée pour profiter d'avantage de leur jardin. Nous voulions échapper à l'extension 'type véranda', un petit volume de 20m2 au sol par 2,5m de hauteur accolé à la grande façade aurait été trop manifeste. L'atelier nous a inspiré la réponse, nous avons décidé de construire en prolongement du garage, le long du mur mitoyen, jusqu'à la maison, de façon à habiter le jardin en toute sa longueur. L'atelier est devenu finalement une serre où l'on peut faire pousser des plantes autres que celles du jardin. Le auvent qui unit la serre et la maison est un séjour extérieur abrité de la pluie. Nous l'avons découpé pour que le lilas existant puisse pousser au-dessus de la toiture.
      .col.col-overflow.close
        p
          | On ouvre le portail donnant sur la rue et un petit chemin sinueux nous mène à la maison tout au fond, nous découvrons un petit jardin féerique en pleine ville de Reims. La bâtisse existante est assez imposante, on y avait déjà ajouté une aile droite pour créer des pièces avec de l'eau courante (salles de bains, toilettes et buanderie).
        p
          | Les clients (un couple seul) aiment bichonner les plantes, ils souhaitaient créer une unité de vie au rez-de-chaussée pour profiter d'avantage de leur jardin. Nous voulions échapper à l'extension 'type véranda', un petit volume de 20m2 au sol par 2,5m de hauteur accolé à la grande façade aurait été trop manifeste. L'atelier nous a inspiré la réponse, nous avons décidé de construire en prolongement du garage, le long du mur mitoyen, jusqu'à la maison, de façon à habiter le jardin en toute sa longueur. L'atelier est devenu finalement une serre où l'on peut faire pousser des plantes autres que celles du jardin. Le auvent qui unit la serre et la maison est un séjour extérieur abrité de la pluie. Nous l'avons découpé pour que le lilas existant puisse pousser au-dessus de la toiture.

    section.grid
      .col-4
        +poster('PHOTOS-02.jpg')
      .col-2
        +poster('PHOTOS-03.jpg')
      .col-2
        +poster('PHOTOS-05.jpg')
      .col-4
        +poster('PHOTOS-04.jpg')

