extends ../../settings/_layout.jade

block variables
    - var htmlClass = "projet";
    - var pageTitle = "Poste Central de Sécurité de l'Hôpital de Troyes"

block content
  article.project-content(itemtype='https://schema.org/CreativeWork')
    header.project-header
      +poster('PHOTOS-01.jpg')
      h1.project-title(itemprop='headline') #{pageTitle}
      .infos
        | déplacement du poste central de sécurité incendie / centre hospitalier de Troyes (10) / printemps 2016 / 150 m² shon / 186 877 € HT

    .desc(itemprop='text')
      .col.col-overflow.close
        p
          | L'Hôpital de Troyes a souhaité déplacer son Poste Central (PC) de Sécurité car le personnel est fréquemment amené à intervenir au sein des urgences pour des cas de violence et incivilité envers les soignants. Le nouveau PC devait avoir une vue directe sur les urgences pour faciliter la surveillance et devait être facilement identifiable depuis le service de façon à créer un effet dissuasif.
        p
          | Il vient s'installer dans un ancien bâtiment réalisé en béton pré-fabriqué au cours des années 80, face au Service des Urgences. Étant structurelle, la façade existante ne nous laisse pas la possibilité de créer un percement assez grand pour voir et être vu de façon évidente, nous décidons donc de faire dépasser le PC de Sécurité à l'extérieur de la façade.
      .col.col-overflow.close
        p
          | L'Hôpital de Troyes a souhaité déplacer son Poste Central (PC) de Sécurité car le personnel est fréquemment amené à intervenir au sein des urgences pour des cas de violence et incivilité envers les soignants. Le nouveau PC devait avoir une vue directe sur les urgences pour faciliter la surveillance et devait être facilement identifiable depuis le service de façon à créer un effet dissuasif.
        p
          | Il vient s'installer dans un ancien bâtiment réalisé en béton pré-fabriqué au cours des années 80, face au Service des Urgences. Étant structurelle, la façade existante ne nous laisse pas la possibilité de créer un percement assez grand pour voir et être vu de façon évidente, nous décidons donc de faire dépasser le PC de Sécurité à l'extérieur de la façade.
      .col.col-overflow.close
        p
          | L'Hôpital de Troyes a souhaité déplacer son Poste Central (PC) de Sécurité car le personnel est fréquemment amené à intervenir au sein des urgences pour des cas de violence et incivilité envers les soignants. Le nouveau PC devait avoir une vue directe sur les urgences pour faciliter la surveillance et devait être facilement identifiable depuis le service de façon à créer un effet dissuasif.
        p
          | Il vient s'installer dans un ancien bâtiment réalisé en béton pré-fabriqué au cours des années 80, face au Service des Urgences. Étant structurelle, la façade existante ne nous laisse pas la possibilité de créer un percement assez grand pour voir et être vu de façon évidente, nous décidons donc de faire dépasser le PC de Sécurité à l'extérieur de la façade.

   section.grid
      .col-3
        +poster('PHOTOS-02.jpg')
      .col-3
        +poster('PHOTOS-03.jpg')
      .col-6.contain
        +poster('DESSINS.jpg')
